*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#app {
    background-color: #a9d8b6;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 20px;
}

.sidebar {
    background-color: #ada8dc;
    width: 20%;
    height: 100%;    
}

.main {
    background-color: #fff6e5;
    width: 80%;
    height: 100%;
    border: 2px solid black;

}