*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
    background-color: #a9d8b6;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 20px;
}

.sidebar {
    background-color: #ada8dc;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid red;
    align-items: flex-start;
}

#sidebar-header {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 42, 255);
    height: 100px;
    justify-content: space-between;
}

#sidebar-header button{
  width: 200px;
  padding: 5px;
  background-color: white;
  color: black;
  border: 2px solid black;
  font-weight: 600;
}

#projects-list {
    border: 2px solid red;
    margin-top: 40px;

}

#projects-list ul {
    list-style-type: none;
    
}

#projects-list li {
    margin-bottom: 15px;
    font-size: 1.25rem;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

}

#projects-list li:hover {
    margin-bottom: 15px;
    font-size: 1.25rem;
    background-color: black;
    color: white;

}




.main {
    background-color: #fff6e5;
    width: 80%;
    height: 100%;
    border: 2px solid black;

}

#main-header {

}

#todo-list {

}


#todoDialog {

}

#addTodoForm {

}

