*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
    background-color: #a9d8b6;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: flex-start;
}

#sidebar-header {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}



#projects-list {
    margin-top: 40px;

}

#projects-list ul {
    list-style-type: none;
    font-weight: bolder;

}

#projects-list li {
    margin-bottom: 10px;
    font-size: 1rem;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    display:inline-flex;
    align-items: center;

}

#projects-container span{
    padding-right: 8px;
}

#projects-container li:hover {
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: black;
    color: white;

}

#projects-container button{
  width: 200px;
padding: 12px 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  font-weight: 600;
  margin-bottom: 15px;
}

.main {
    background-color: #fff6e5;
    width: 80%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#main-header {
    margin-bottom: 50px;
}


#main-header button {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 200px;
    padding: 12px 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 600;
    margin-bottom: 15px;
}

#todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#todo-list input {
    margin-bottom: 15px;
}


#todoDialog {

}

#addTodoForm {

}

.content-hidden {
    display: none;
}